@model IEnumerable<Domain.Entities.Image>

<div class="col-md-12">
    <div class="section">
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center">@(ViewBag.TotalItems > 0 ? String.Format("Have {0} images", ViewBag.TotalItems) : null)</h1>
                </div>
            </div>

            <div class="row">

                @foreach (var image in Model)
                {
                    <div class="col-md-4">
                        <a>
                            <img src="@Url.Action("GetImage", "Image", new { image.ImageId })" class="img-responsive">
                        </a>
                        <span>@Html.LabelFor(i => i.First().fileName) : @(image.fileName ?? "no name")</span>
                        <br />
                        <i>@Html.LabelFor(i => i.First().DateOfLoad) : @image.DateOfLoad.ToString("d MMM HH:mm")</i>
                        <br />
                    </div>
                }
            </div>
        </div>
    </div>
</div>